{% extends 'base.html' %}

{% block titulo %} | Login{% endblock %}

{% block content %}

<style>
    .formLogin {
        border: 2px solid #C0C0C0;
        padding: 40px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    .btnVoltarEnquetes {
        border-color: #696969;
        color: #fff;
        box-shadow: 0 0 40px 40px #696969 inset, 0 0 0 0 #696969;
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
        margin-left: 10px;
    }

    .btnVoltarEnquetes:hover {
        box-shadow: 0 0 10px 0 #696969 inset, 0 0 10px 4px #696969;
    }
</style>

{% include 'parciais/_messages.html' %}

<div class="login-form formLogin">
    <h2 class="text-center" style="padding-bottom: 20px;">Log in</h2>
    <form method="POST" action="">
        {% csrf_token %}

        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username...">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" style="margin-top: 20px; margin-bottom: 20px;" name="password"
                placeholder="Password...">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-dark btn-block" value="Login">Log in</button>
        </div>

        <div class="clearfix" style="margin-bottom: 30px;">
            <label class="float-left form-check-label"><input type="checkbox"> Remember me</label>
        </div>
    </form>
    <p class="text-center"><a href="{% url 'perfil:register' %}">Criar um novo usuário</a></p>
</div>

<div style="margin-bottom: 20px;">
    <a class="btn btn-secondary btnVoltarEnquetes" href="{% url 'votacao:index' %}">Voltar</a>
</div>

{% endblock %}