{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
    .formLogin {
        border: 2px solid #C0C0C0;
        padding: 40px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 60px;
        margin-bottom: 60px;
        background-color: #F5F5F5;
        border-radius: 10px;
    }
</style>

<form method="POST" action="" class="formLogin">
    {% csrf_token %}
    {{form.as_p}}

    <input class="btn btn-dark btn-block" type="submit" value="Registrar Conta">
</form>

{% endblock %}