{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block titulo %} | Add Enquete{% endblock %}

{% block content %}

{% include 'parciais/_messages.html' %}

<div class="mt-4">
    <form method="post" style="margin-right: 10px; margin-left: 10px;">
        {% csrf_token %}
        <div class="card">
            <div class="card-header" style="background-color: #F5F5F5">
                <h4 class="text-center" style="margin-top: 3px;">Adicionar Enquete</h4>
            </div>
            <div class="card-body">
                {{ form.non_form_errors }}
                {{ form|crispy }}

                <br>
                <h5 class="text-info">Adicione pelo menos duas opções:</h5>
                {{ choice_meta_formset.non_form_errors }}
                {{ choice_meta_formset.management_form }}
                {% for form in choice_meta_formset %}
                <div class="d-flex py-1 inline {{ choice_meta_formset.prefix }}" style="margin-top:5px;">
                    <div>{{form.choice_text.label}}: {{ form.choice_text }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="mt-4 mb-4">
            <button type="submit" class="px-5 btn btn-info">Cadastrar</button>
            <a class="btn btn-secondary btnVoltarEnquetes" href="{% url 'votacao:index' %}"
                style="margin-left: 10px;">Voltar</a>
        </div>

    </form>
</div>

{% endblock %}