{% extends 'base.html' %}

{% block titulo %} | Enquetes{% endblock %}

{% block content %}

<style>
    .styleCard {
        background-color: white;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 28px;
        border-radius: 10px;
        padding: 15px;
    }

    .bordaPolls {
        border: 2px solid #DCDCDC;
        border-radius: 10px;
        margin: 10px;
        margin-top: 15px;
        background-color: white;
    }

    .h1Index {
        font-family: Garamond;
        font-size: 50px;
        margin-top: 44px;
    }

    .btnVoteAgora {
        border-color: #3498db;
        color: #fff;
        box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
        margin-right: 10px;
    }

    .btnVoteAgora:hover {
        box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    }

    .btnResults {
        border-color: #696969;
        color: #fff;
        box-shadow: 0 0 40px 40px #696969 inset, 0 0 0 0 #696969;
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
    }

    .btnResults:hover {
        box-shadow: 0 0 10px 0 #696969 inset, 0 0 10px 4px #696969;
    }
</style>

{% include 'parciais/_messages.html' %}

{% if request.user.is_authenticated %}
<div class="card text-center styleCard">
    <div class="card-body">
        <h3>Olá <strong>{{ request.user }}</strong>, você pode adicionar novas enquetes</h3>

        <p>
            Clique no link abaixo para cadastrar sua enquete.
        </p>

        <a class="btn btn-dark" href="{% url 'votacao:addPolls' %}">
            Adicionar
        </a>
    </div>
</div>

{% else %}
<div class="card text-center styleCard">
    <div class="card-body">
        <h3>Cadastre-se aqui para adicionar novas enquetes</h3>

        <p>
            Clique no link abaixo para realizar seu cadastro.
        </p>

        <a class="btn btn-dark" href="{% url 'perfil:login' %}">
            Cadastro
        </a>
    </div>
</div>
{% endif %}

<h1 class="text-center mb-5 h1Index">Enquetes Cadastradas</h1>

{% if latest_question_list %}
{% for question in latest_question_list %}
<div class="card-mb-3">
    <div class="card-body bordaPolls">
        <p class="lead">{{ question.question_text }}</p>

        <a href="{% url 'votacao:detail' question.id %}" class="btn btn-sm btnVoteAgora">
            Vote Aqui
        </a>
        <a href="{% url 'votacao:results' question.id %}" class="btn btn-secondary btn-sm btnResults">
            Resultados
        </a>
    </div>
</div>
{% endfor %}

<br>
<div style=" margin-left: 10px; margin-bottom: 30px; margin-top: 20px;">
    {% include 'parciais/_pagination.html' %}
</div>

{% else %}

<p style="margin-bottom: 20px;">Nenhuma enquete disponível.</p>

{% endif %}

{% endblock %}