<nav aria-label="Page navigation example">

    <ul class="pagination">
        {% for pagina in latest_question_list.paginator.page_range %}
        {% if latest_question_list.number == pagina %}
        <li class="page-item active">
            <a class="page-link" href="?page={{ pagina }}&termo={{ request.GET.termo }}">{{ pagina }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ pagina }}&termo={{ request.GET.termo }}">{{ pagina }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>

</nav>