{% extends 'base.html' %}

{% block titulo %} | Sobre{% endblock %}

{% block content %}

<style>
    .sobre {
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 28px;
        margin-bottom: 28px;
        padding: 25px;
    }
</style>

<div class="card shadow border sobre">
    <div class="card-body d-flex flex-column align-items-center">
        <h4 class="card-title" style="padding-bottom: 10px;">Sobre</h4>
        <p class="card-text">Esta aplicação foi feita utilizando as linguagens/frameworks:</p>
        <ul class="card-text">
            <li>Python</li>
            <li>Django</li>
            <li>Html</li>
            <li>Css</li>
            <li>Bootstrap</li>
            <li>JavaScript</li>
        </ul>
        <p class="card-text">Desenvolvida por Eduardo Brandão</p>
        <p class="card-text">Versão 1.0</p>
    </div>
</div>

{% endblock %}